body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(38, 35, 53, 0.2);
}

#load{
    width: 0%;
    height: 25px;
    background-color: green;
    margin-left: 5px;
}

#loading_msg{
    visibility: hidden;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

#content{
    visibility: hidden;
    height: 100%;
}

#msg1{
    margin-left: 1.5%;
    width: 22%;
    font-size: large;
    float: left;
    text-align: center;
    color: #fff;
}

#msg2, #msg3, #msg4{
    width: 22%;
    float: left;
    margin-left: 3%;
    font-size: large;
    text-align: center;
    color: #fff;
}

#img1, #img2, #img3, #img4{
    width: 100%;
    border-radius: 25px;
    float: left;
    font-size: large;
    margin-top: 25px;
}

#msg1, #msg2, #msg3, #msg4{
    border-radius: 25px;
    background-color: rgba(38, 35, 53, 0.9);
    height: 210px;
}

p{
    text-align: center;
    color: #fff;
}